In [188]:
import pandas as pd
from typing import Union
import warnings
warnings.filterwarnings(action='ignore')

In [189]:
data=pd.read_csv("G:/JoJo/Accenture/Inventory management/notebooks/data/inventory_table.csv")
data.head()

    Product_Name    Category  Price  Quantity
0         dettol  Antiseptic    180        40
1          lizol  Antiseptic    100        15
2  coffee powder   Household     80        50
3     tea powder   Household     60        60
4           milk   Household     25        20

In [190]:
def add_new_product(name:str, category:str, price:int, quantity:int) -> None:
    """
    Function to add new product to inventory management table
    
    Args:
    name: Product name
    category: Type of product category
    price: MRP of product
    quantity: Number of quantities available

    Returns: None
    """
    data.loc[len(data)] = [name,category,price,quantity]

In [191]:
add_new_product("eyeliner","cosmetics","180","100")

In [192]:
def update_product(name:str, field_to_update:str, value:Union[int,str])-> None:
    """
    Function to update the existing product to inventory management table
    
    Args:
    name: Product name
    field_to_update: Field name to be updated
    value: Value to be updated

    Returns: None
    """
    data.loc[data["Product_Name"]==name,field_to_update] = value

In [193]:
update_product("eyeliner","Quantity",120)

In [194]:
def display_inventory_details()->pd.DataFrame:
    """
    Function to display the inventory details
    Returns: DataFrame
    """
    print(data[["Product_Name","Quantity"]])

In [195]:
display_inventory_details()

        Product_Name Quantity
0             dettol       40
1              lizol       15
2      coffee powder       50
3         tea powder       60
4               milk       20
5              sugar       50
6               salt       50
7             diaper       20
8        baby lotion       30
9    baby rash cream       10
10  baby milk powder       20
11            Savlon       40
12             Ariel       30
13        Surf excel       30
14               Rin       30
15          eyeliner      120

In [196]:
def sales_of_product(name:str,quantity:int)-> None:
    """Function to allow for the sale of products and to update the inventory accordingly.

    Args:
    name: Product name
    quntity: Quantity

    Returns: None   
    
    """
    available_quantity=int(data.loc[data["Product_Name"]==name,"Quantity"])
    if name not in list(data["Product_Name"].unique()):
        print("Sorry, the product is not available")
    elif available_quantity<quantity:
        print(f"Sorry, we have only {available_quantity} quantities available for {name}")
    else:
        data.loc[data["Product_Name"]==name,"Quantity"]=data.loc[data["Product_Name"]==name,"Quantity"]-quantity

In [197]:
sales_of_product("milk",6)
data

        Product_Name    Category Price Quantity
0             dettol  Antiseptic   180       40
1              lizol  Antiseptic   100       15
2      coffee powder   Household    80       50
3         tea powder   Household    60       60
4               milk   Household    25       14
5              sugar   Household    45       50
6               salt   Household    10       50
7             diaper  Baby Items  1000       20
8        baby lotion  Baby Items   300       30
9    baby rash cream  Baby Items   200       10
10  baby milk powder  Baby Items   800       20
11            Savlon  Antiseptic    80       40
12             Ariel  Detergents   250       30
13        Surf excel  Detergents   200       30
14               Rin  Detergents   150       30
15          eyeliner   cosmetics   180      120

In [198]:
data.loc[data["Product_Name"]=="milk","Quantity"]

4    14
Name: Quantity, dtype: object

In [199]:
def generate_alert(threshold=20)->list:
    """Function to generate an alert if the product quantity is less than threshold
    
    args:
    threshold: number
    default threshold: 20

    Returns: List

    """
    product=list(data[data["Quantity"]<threshold]["Product_Name"])
    print(f"{product} has to be restocked. It's quantity is below {threshold}.")

In [200]:
data[data["Quantity"]<20]["Product_Name"]

1              lizol
4               milk
9    baby rash cream
Name: Product_Name, dtype: object

In [201]:
generate_alert(40)

['lizol', 'milk', 'diaper', 'baby lotion', 'baby rash cream', 'baby milk powder', 'Ariel', 'Surf excel', 'Rin'] has to be restocked. It's quantity is below 40.